---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rebar</title>
	</head>
	<body>
		<h1>Rebar is undergoing a major renovation! Keep an eye out for the upcoming release!</h1>
	</body>
</html>

<style>
  body {
    font-family: monospace;
    padding-top: 20vh;
    text-align: center;
  }

  h1 {
    max-width: 800px;
    margin: auto;
  }
</style>
